
.menu li{
    font-size: 20px;
    padding: 20px;
    list-style-type: none;
}
li{
    float: left;
}
.itens{
    padding-left: 60%;
}
.itens li:hover{
    background-color: aqua;
}
.name-home{}
*{
    margin: 0px;
}